################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PREFINAL_EXAM_Leano_AngelicaJoyce/.vs/PREFINAL_EXAM_Leano_AngelicaJoyce
